{{ header }}
<div id="information-blog-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col-sm-9">
      <h1>{{ heading_title }}</h1>
      
      <!-- Подкатегории -->
      {% if categories %}
      <h3>{{ text_refine }}</h3>
      <div class="category-grid">
        {% for category in categories %}
        <div class="category-card">
          <a href="{{ category.href }}">
            <div class="category-image" style="background-image: url('{{ category.thumb }}');"></div>
            <h4>{{ category.name }}</h4>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      <!-- Статьи -->
      {% if articles %}
      <div class="blog-grid">
        {% for article in articles %}
        <div class="blog-card">
          <div class="blog-card-image">
            <img src="{{ article.thumb }}" alt="{{ article.name }}" />
          </div>
          <div class="blog-card-content">
            <h3>{{ article.name }}</h3>
            <p class="blog-meta">Дата: {{ article.date_added }} | Просмотры: {{ article.views }} | Время чтения: {{ article.reading_time }} мин | Автор: {{ article.author }}</p>
            <p>{{ article.description }}</p>
            <a href="{{ article.href }}" class="btn btn-primary">Читать дальше</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}